*.suo
Trump - An Interactive Experience/.vs/Trump - An Interactive Experience/v14/.suo
*.meta
*.unity
Trump - An Interactive Experience/Assets/Scripts/TrumpController.cs
*.cs
Trump - An Interactive Experience/Library/metadata/e6/e64c4467c48cfd443a1f28e09b885e81
*.bin
*.mdb
Trump - An Interactive Experience/Library/ScriptAssemblies/Assembly-CSharp.dll
Trump - An Interactive Experience/Library/metadata/e6/e64c4467c48cfd443a1f28e09b885e81
*.mdb
Trump - An Interactive Experience/Library/metadata/b5/b50b33a3b5c8bcb469e09bf7b7c17f28.info
*.info
*.asset
*.cs